Repository KeyboardDabbler/pythonesque-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/bootstrap, area/github, area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "**/README.md"
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*

fix: (jellyfin): add jellyfin-metadata pvc
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
  kubernetes/apps/media/jellyfin/app/kustomization.yaml
  kubernetes/apps/media/jellyfin/app/pvc.yaml
Labels: area/kubernetes, cluster/main

fix: (jellyfin): reduce jellyfin-config pvc capacity
  kubernetes/apps/media/jellyfin/ks.yaml
Labels: area/kubernetes, cluster/main

fix: (jellyfin): scale down
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix: (volsync): add hourly backups
  kubernetes/templates/volsync/minio/replicationsource.yaml
Labels: area/kubernetes, cluster/main

fix: (jellyfin): scale up
  kubernetes/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix: (downloads): scale up
  kubernetes/apps/downloads/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix: (bazarr): removing Liveness/Readiness Probes
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix: (jellyfin): increase initialDelaySeconds
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

docs: update readme
  README.md
Labels: area/docs

fix: use secureboot when needed on Talos upgrade task
  .taskfiles/talos/Taskfile.yaml
Labels: none

feat: (cpgo): prepare backup
  kubernetes/apps/databases/crunchy-pgo/ks.yaml
Labels: area/kubernetes, cluster/main

fix: (renovate): add cdpgvector
  .github/renovate/autoMerge.json5
Labels: area/github

feat: (talos): enable forwardKubeDNSToHost now hostLegacyRouting is enabled
  kubernetes/apps/kube-system/cilium/app/helm-values.yaml
  kubernetes/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/main

Add hostNamespaceOnly setting
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helm-values.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/coredns/app/helm-values.yaml.j2
Labels: area/bootstrap

feat(rook-ceph): remove cephbucket currently
  kubernetes/apps/storage/rook-ceph/rook-ceph/cluster/cephobjectstoreuser.yaml
  kubernetes/apps/storage/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/storage/rook-ceph/rook-ceph/cluster/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat: (talos): add nfs patch
  kubernetes/bootstrap/talos/patches/global/nfs.yaml
Labels: area/kubernetes, cluster/main

fix: update $app
  kubernetes/apps/downloads/recyclarr/ks.yaml
  kubernetes/apps/system/generic-device-plugin/ks.yaml
Labels: area/kubernetes, cluster/main

feat: (volsync): add moverAffinity
  kubernetes/templates/volsync/minio/replicationdestination.yaml
  kubernetes/templates/volsync/minio/replicationsource.yaml
Labels: area/kubernetes, cluster/main

fix: (jellyfin): increase mem limit
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix: scale down
  kubernetes/apps/databases/kustomization.yaml
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/media/kustomization.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes, cluster/main

scale down
  kubernetes/apps/games/kustomization.yaml
Labels: area/kubernetes, cluster/main
