Repository KeyboardDabbler/pythonesque-cluster, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/bootstrap, area/github, area/kubernetes, cluster/main

feat: (minecraft): update spigetResources
  kubernetes/apps/games/minecraft/mcpog/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix: (minecraft): update spigetResources
  kubernetes/apps/games/minecraft/mcpog/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix: (minecraft): increase pvc size
  kubernetes/apps/games/minecraft/mcpog/helmrelease.yaml
  kubernetes/apps/games/minecraft/mcpog/pvc.yaml
Labels: area/kubernetes, cluster/main

fix: (minecraft): update spigetResources
  kubernetes/apps/games/minecraft/mcpog/helmrelease.yaml
Labels: area/kubernetes, cluster/main

docs: (dragonfly): add readme
  kubernetes/apps/databases/dragonfly/readme.md
Labels: area/kubernetes, cluster/main

docs: (cluster): update readme
  README.md
Labels: area/docs

fix: (devcontainer): use go-task since not aliased yet
  .devcontainer/postCreateCommand.sh
Labels: none

fix: (talconfig): disable service discovery
  bootstrap/templates/kubernetes/bootstrap/talos/patches/global/cluster-discovery.yaml.j2
Labels: area/bootstrap

fix: (spegel): use deedee-ops container for containerd v2
  bootstrap/templates/kubernetes/apps/kube-system/spegel/app/helm-values.yaml.j2
Labels: area/bootstrap

fix: (spegel): update spegel version with multiarch build
  bootstrap/templates/kubernetes/apps/kube-system/spegel/app/helm-values.yaml.j2
Labels: area/bootstrap

fix: (devcontainer): add docker pull to init cmd
  .github/workflows/devcontainer.yaml
Labels: area/github

fix: (devcontainer): does arm64 build now question mark
  .github/workflows/devcontainer.yaml
Labels: area/github

fix: (cert-manager): remove default option on cert-manager chart
  bootstrap/templates/kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml.j2
Labels: area/bootstrap

fix: (talos): taloscto not being installed with brew
  .taskfiles/Workstation/Brewfile
Labels: none

chore: (talos): : update config.yaml comments
  config.sample.yaml
Labels: none

chore: update taskfiles
  .envrc
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/Repository/Taskfile.yaml
  .taskfiles/Sops/Taskfile.yaml
  .taskfiles/Talos/Taskfile.yaml
  Taskfile.yaml
Labels: none

feat: (cilium): loadbalancer mode default to dsr and allow configurability
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helm-values.yaml.j2
  bootstrap/templates/kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml.j2
  config.sample.yaml
Labels: area/bootstrap

feat: (yaskfile): updates and reorganizations
  .github/tests/config-talos.yaml
  .github/workflows/e2e.yaml
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/Postgresql/Taskfile.yaml
  .taskfiles/Postgresql/readme.md
  .taskfiles/Repository/Taskfile.yaml
  .taskfiles/Sops/Taskfile.yaml
  .taskfiles/Talos/Taskfile.yaml
  .taskfiles/Workstation/Taskfile.yaml
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/kubernetes/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/volsync/resources/list.yaml.j2
  .taskfiles/volsync/resources/replicationdestination.yaml.j2
  .taskfiles/workstation/Archfile
  .taskfiles/workstation/Brewfile
  .taskfiles/workstation/Taskfile.yaml
  README.md
  Taskfile.yaml
  bootstrap/scripts/validation.py
  bootstrap/templates/.sops.yaml.j2
  bootstrap/templates/kubernetes/apps/network/ingress-nginx/external/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/ingress-nginx/internal/helmrelease.yaml.j2
  bootstrap/templates/kubernetes/apps/network/k8s-gateway/app/helmrelease.yaml.j2
  config.sample.yaml
Labels: area/docs, area/bootstrap, area/github

feat: (taskfile): add apply-config to talos taskfile
  .taskfiles/talos/Taskfile.yaml
Labels: none

feat: (taskfile): improve talos upgrade and kubernetes upgrade tasks
  .taskfiles/talos/Taskfile.yaml
Labels: none

fix: (taskfile): VERSION is not required anymore
  .taskfiles/talos/Taskfile.yaml
Labels: none

chore: : update devcontainer
  .devcontainer/ci/features/install.sh
Labels: none

chore: move more tools into alpine repos
  .devcontainer/ci/features/install.sh
Labels: none

chore: move flux to apk in devcontainer
  .devcontainer/ci/features/install.sh
Labels: none

fix: talos taskfile doesn't need dir most of the time
  .taskfiles/talos/Taskfile.yaml
Labels: none

fix: assign TALOSCONFIG to a var and then to env
  .taskfiles/talos/Taskfile.yaml
Labels: none

fix: improve taskfiles and e2e test
  .github/workflows/e2e.yaml
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/workstation/Archfile
  .taskfiles/workstation/Brewfile
  .taskfiles/workstation/Taskfile.yaml
  Taskfile.yaml
Labels: area/github

chore: add minijinja-cli-bin to Archfile
  .taskfiles/workstation/Archfile
Labels: none

chore: only minijinja bin
  .taskfiles/workstation/Taskfile.yaml
Labels: none

feat: (bootstrap): static ips and default ntp/dns servers
  bootstrap/templates/kubernetes/apps/kube-system/cilium/app/helm-values.yaml.j2
  bootstrap/templates/kubernetes/apps/kube-system/cilium/config/cilium-l3.yaml.j2
  bootstrap/templates/kubernetes/bootstrap/talos/patches/global/dns.yaml.j2
  bootstrap/templates/kubernetes/bootstrap/talos/patches/global/ntp.yaml.j2
  bootstrap/templates/kubernetes/bootstrap/talos/talconfig.yaml.j2
  bootstrap/templates/kubernetes/flux/config/cluster.yaml.j2
  config.sample.yaml
Labels: area/bootstrap

feat: (talos): add kube scheduler default topologyspreadcontraints
  bootstrap/templates/kubernetes/bootstrap/talos/patches/controller/cluster.yaml.j2
Labels: area/bootstrap

fix: (talos): update sysctls
  bootstrap/templates/kubernetes/bootstrap/talos/patches/global/sysctl.yaml.j2
Labels: area/bootstrap

chore: (scripts): format kubeconform script
  scripts/kubeconform.sh
Labels: none

chore: improve apply-config task and update readme
  .taskfiles/talos/Taskfile.yaml
  README.md
Labels: area/docs

feat: (talos) set sysctl vm.nr_hugepages=1024
  bootstrap/templates/kubernetes/bootstrap/talos/patches/global/sysctl.yaml.j2
Labels: area/bootstrap

chore: update readme
  README.md
  config.sample.yaml
Labels: area/docs

bootstrap: improve validation and update tasks
  .github/tests/config-talos.yaml
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/kubernetes/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/workstation/Taskfile.yaml
  Taskfile.yaml
  bootstrap/scripts/validation.py
  bootstrap/templates/kubernetes/bootstrap/talos/patches/global/ntp.yaml.j2
  bootstrap/templates/kubernetes/bootstrap/talos/talconfig.yaml.j2
  requirements.txt
Labels: area/bootstrap, area/github

fix: (volsync): drop hourly snapshot
  kubernetes/templates/volsync/minio/replicationsource.yaml
Labels: area/kubernetes, cluster/main

fix: (jellyfin): disable startup probe
  kubernetes/apps/media/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix: (jellyfin): increase volsync capacity
  kubernetes/apps/media/jellyfin/ks.yaml
Labels: area/kubernetes, cluster/main

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "**/README.md"
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: bootstrap/**/*
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/taskfile:
  - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
